@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #ccc;
  height: 290vh;
  padding: 2rem;
  
}
.App input{
  margin-bottom: 2rem;
  padding: 1rem;
  width: 20%;
  margin-top: 3rem;
  margin-left: -5rem;
  outline: none;
}
.header{
 border-bottom: 5px solid red;
 width: 14%;
 margin-left: 40rem;
 font-size: 2rem;
 /* font-family: 'Poppins', sans-serif; */
}

.data-container{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  background-color: #777;
  color: white;
  margin: 0 auto;  
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  padding: 2rem;

}

